.header {
    text-align: center;
    font-size: 60px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 350px;
  margin: auto;
  text-align: center;
}

.title {
  color: grey;
  font-size: 18px;
}

.info p {
  font-size: 14;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}

* {
box-sizing: border-box;
}

body {
font-family: Arial, Helvetica, sans-serif;
}

/* Float four columns side by side */
.column {
width: 25%;
padding: 0 10px;
vertical-align: middle;

display:inline-block;
float:none;
/* reset the text-align */
text-align:left;
}

/* Remove extra left and right margins, due to padding in columns */
.row {
    margin: 0 -5px;
    text-align:center;
}

/* Clear floats after the columns */
.row:after {
content: "";
display: table;
clear: both;
}

/* Style the counter cards */
.card {
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
padding: 16px;
text-align: center;
background-color: #f1f1f1;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
.column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
}
}

.info * {
    display:inline-block;
}

.info i {
    margin-right:10px;
}

.description, .rules {
    color: grey;
    font-size: 18px;
}

.rules {
    color: darkslategray;
    font-size: 18px;
}

.projects {
    margin-bottom: 5rem;
}